[ssl_cert]
pem_file_base_path = "/data/dnsrobocert/live"
default_ssl_cert_domain = "example.com"

[[http_server]]
server_name = "www.example.com"
listen = 10080
listen_ssl = 10443
proxy_pass = "http://127.0.0.1:8000"

client_max_body_size = "100m"

[[http_server]]
server_name = "www.port.error"
proxy_pass = "http://127.0.0.1:8000"

[[http_server]]
server_name = "www.http.only.example.com"
listen = 10080
proxy_pass = "http://127.0.0.1:8000"

[[http_server]]
server_name = "www.https.only.example.com"
listen = 10443
proxy_pass = "http://127.0.0.1:8000"

[[http_server]]
server_name = "www.special.port.example.com"
listen_ssl = 55555
proxy_pass = "http://127.0.0.1:8000"

[[http_server]]
server_name = "www.mapping.root.com"
listen_ssl = 10443
root_path = "/var/www"

[[http_server]]
server_name = "www.custom.root.location.example.com"
listen_ssl = 10443
proxy_pass = "http://127.0.0.1:8000"

location."/" = """
proxy_pass $proxy_pass;
"""

[[http_server]]
server_name = "www.more.location.example.com"
listen_ssl = 10443
proxy_pass = "http://127.0.0.1:8000"

location."/" = """
proxy_pass $proxy_pass;
"""
location."/api/verify" = """
proxy_pass $proxy_pass;
"""

[[http_upstream]]
name = "upstream_websocket"
content = """
    least_conn;
    server 127.0.0.1:8081;
    server 127.0.0.1:8082;
"""

[[http_server]]
server_name = "http.upstream.example.com"
listen = 10080
proxy_pass = "upstream_websocket"
support_websocket = true

[[http_server]]
server_name = "http.upstream.in.path.example.com"
listen = 10080
proxy_pass = "http://127.0.0.1:8000"

location."/ws" = """
    proxy_pass upstream_websocket;
"""

support_websocket = true

[[http_server]]
server_name = "www.disable.http2.example.com"
listen_ssl = 10443
listen_http2 = false
root_path = "/var/www"

[[http_server]]
server_name = "hsts.example.com"
listen = 10080
listen_ssl = 10443
proxy_pass = "http://127.0.0.1:8000"
hsts = true

[[stream_server]]
comment = "ssh"
listen = 10022
proxy_pass = "192.168.1.1:22"

[[stream_upstream]]
name = "ssh_upstream_test"
content = """
    least_conn;
    server 127.0.0.1:8081;
    server 127.0.0.1:8082;
"""

[[stream_server]]
comment = "git"
listen = 12222
proxy_pass = "ssh_upstream_test"

[[mail_server]]
type = "ssl"
port = 465
auth_http = "localhost:8000/api/smtpd/auth"

[[mail_server]]
type = "starttls"
port = 587

auth_http = "localhost:8000/api/smtpd/auth"
